<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "ca.raihan.js.gamex"
        versionCode = "10" 
        version     = "0.1.0" >

    <name>LaseRun</name>

    <description>
        LaseRun description
    </description>

    <author href="https://github.com/prshreshtha/" email="prshreshtha@yahoo.com">
        Pranjal Raihan
    </author>

</widget>